/** GENERAL **/

html {
  font-family: 'Playfair Display', serif;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background color: white;
}

a {
  text-decoration: none;
}

a {
  color: rgb(36,138,119);
}

a:visited {
  color: rgb(36,138,119);
}

a.selected, a:hover {
  color: purple;
}

/** BLOG HEADER **/

.blog-header {
  min-height: 10%;
  min-width: 100%;
}

.logo-black {
  height: 40px;
  margin: 10px;
}

.git-black {
  width: 40px;
  height: 40px;
  margin: 10px;
  float: right;
}

/** BLOG BODY **/

.content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  min-height: 90%;
}

.col {
  align-self: flex-start;
  align-self: -webkit-flex-start;
  flex: 1;
  -webkit-flex: 1;
  background: rgba(36,138,119,0.2);
  min-height: 100%;
  margin: 2%;
  border-radius: 5px;
  border-right-style: dotted;
  border-color: rgba(36,138,119,0.6);
}

.col-2 {
  flex: 3;
  -webkit-flex: 3;
  min-height: 100%;
  margin: 2%;
  border-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.col-2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.col-2 p {
  margin: 5%;
  text-align: justify;
  line-height: 1.75em;
}

.col-2 h2, h3, h4 {
  margin: 5%;
  text-align: justify;
}

.col-2 p:first-child:first-letter {
  float:left;
  font-size: 1.75em;
  font-weight: bold;
  background-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  margin: 0 5px 0 0;
  padding: 0 5px 0 5px;
}

.blog-link {
  background-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}


/** BLOG NAVIGATION **/


.nav ul li {
  display: block;
  width: 90%;
  margin: 10px 5px;
  background-color: rgba(36,138,119,0.9);
  padding: 2px 5px;
  border-radius: 5px;
}


/** Navigation **/


.nav ul {
  margin: 0;
  padding: 0;
}

.nav a, .nav a:visited {
  color: white;
}

.nav a.selected, .nav a:hover {
  color: grey;
}

/*Menu Response*/

@media (max-width: 568px) {
  #menu ul {
    display: none;
  }
}

@media (min-width: 568px) {
  #menu select, #menu button {
    display: none;
  }
}

/*Responsiveness*/

@media screen and (max-width: 568px) {

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: rgba(36,138,119,0.9);
  width: 90%;
  height: 2em;
  margin: 5% 5%;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  text-indent: 10px;
}

select ul li:hover {
  background: #fff;
}

select ul li a:hover {
  color: black;

}

.content {
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.col {
  flex: 1;
  -webkit-flex: 1;
  align-self: center;
  -webkit-align-self: center;
  min-width: 95%;
  min-height: 10%;
  border-style: dotted;
}

.col-2 {
  flex: 3;
  -webkit-flex: 3;
}

}

@media screen and (min-width: 569px) and (max-width: 768px) {

.col {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  }

}