/** GENERAL **/

html {
  font-family: 'Playfair Display', serif;
  color: white;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: darkgrey;
}

a {
  text-decoration: none;
}

/** Header **/

header {
  float: right;
  background-color: blue;
  width: 100%;
  height: 10%;
  position: fixed;
}

.git {
  float: right;
  height: 40px;
  width: 40px;
  margin: 10px;
}

/** Center **/

.main {
  float: right;
  position: fixed;
  background-color: black;
  top: 10%;
  width: 80%;
  height: 80%;
  margin: 0 10%;
}

/** Footer **/

footer {
  float: right;
  position: fixed;
  height: 10%;
  width: 100%;
  bottom: 0;
  background-color: red;
}

/** Navigation **/

.nav {
  float: right;
  width: 75%;
  height: 100%;
  background-color: green;
}

.nav ul {
  float: right;
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav a {
  font-weight: 800;
  padding: 10px;
  margin: 2px;
}

nav a, nav a:visited {
  color: white;
}

nav a.selected, nav a:hover {
  color: grey;
}

/** Clearfix **/

.group:after {
  content: " ";
  display: table;
  clear:both;
}