/** GENERAL **/

.index {
  font-family: 'Playfair Display', serif;
  color: white;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: darkgrey;
}

a {
  text-decoration: none;
}

a {
  color: rgb(36,138,119);
}

a:visited {
  color: rgb(36,138,119);
}

a.selected, a:hover {
  color: purple;
}

/** MAIN **/

.container {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items:center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  min-height: 90vh;
}

/** HEADING **/

.header {
  flex: 1;
  align-self: flex-start;
}

.git {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/** CENTER **/

.main {
  background-color: rgba(36,138,119,0.2);
  color: black;
  align-self: center;
  min-height: 80vh;
  max-width: 60vw;
  border: 1px solid rgba(36,138,119,0.2);
  border-radius: 15px;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  align-self: center;
  width: 120px;
}

.sub-logo {
  align-self: center;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

.statement {
  font-size: 1.5em;
  text-align: justify;
  font-weight: 700;
  padding: 10px;
}

/** Footer **/


footer {
  display: flex;
  flex-direction: column;
  background: rgba(36,138,119,0.6);
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

/** Navigation **/

.nav {
  align-self: center;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 5vh;
}

.nav a, .nav a:visited {
  color: white;
}

.nav a.selected, .nav a:hover {
  color: grey;
}

.copyright {
  text-transform: lowercase;
}


/** BLOG GENERAL**/

.blog {
  font-family: 'Playfair Display', serif;
  background color: white;
}

/** BLOG HEADER **/

.blog-header {
  min-height: 10%;
  min-width: 100%;
}

.logo-black {
  height: 40px;
  margin: 10px;
}

.git-black {
  width: 40px;
  height: 40px;
  margin: 10px;
  float: right;
}

/** BLOG BODY **/

.content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  min-height: 90%;
}

.col {
  align-self: flex-start;
  align-self: -webkit-flex-start;
  flex: 1;
  -webkit-flex: 1;
  background: rgba(36,138,119,0.2);
  min-height: 100%;
  margin: 2%;
  border-radius: 5px;
  border-right-style: dotted;
  border-color: rgba(36,138,119,0.6);
}

.col-2 {
  flex: 3;
  -webkit-flex: 3;
  min-height: 100%;
  margin: 2%;
  border-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.col-2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.col-2 p {
  margin: 5%;
  text-align: justify;
  line-height: 1.75em;
}

.col-2 h2, h3, h4 {
  margin: 5%;
  text-align: justify;
}

.col-2 p:first-child:first-letter {
  float:left;
  font-size: 1.75em;
  font-weight: bold;
  background-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  margin: 0 5px 0 0;
  padding: 0 5px 0 5px;
}

.blog-link {
  background-color: rgba(36,138,119,0.2);
  border-radius: 5px;
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}


/** BLOG NAVIGATION **/

.blog ul li {
  display: block;
  margin: 10px 5px;
  background-color: rgba(36,138,119,0.6);
  padding: 2px 5px;
  border-radius: 5px;
}

