#c4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.play {
  align-self: center;
}

.tile, .column-button {
  padding: 5%;
  margin: 2%;
  background-color: blue;
  border-radius: 10px;
}

.column-button {
  background-color: red;
}

.player1 {
  background-color: yellow;
}

.player2 {
  background-color: green;
}